@import "./responsive.scss";
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  a {
    transition: all 0.4s ease;
    @include small {
      display: none;
    }
    &:hover {
      scale: 1.05;
    }
  }
  .left {
    flex: 3;
    display: flex;
    align-items: center;
    gap: 50px;
    .logo {
      font-weight: bold;
      font-size: 20px;
      display: flex;
      align-items: center;
      gap: 10px;
      img {
        width: 28px;
      }
      span {
        @include medium {
          display: none;
        }
        @include small {
          display: initial;
        }
      }
    }
  }
  .right {
    flex: 2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #fcf5f3;
    height: 100%;
    @include medium {
      background-color: transparent;
    }
    a {
      padding: 12px 24px;
      margin: 20px;
    }

    .register {
      background-color: #fece51;
    }
    .menuIcon {
      display: none;
      z-index: 999;
      img {
        width: 36px;
        height: 36px;
        cursor: pointer;
      }
      @include small {
        display: initial;
      }
    }
    .menu {
      position: absolute;
      top: 0;
      right: -50%;
      background-color: black;
      color: white;
      height: 100vh;
      width: 50vh;
      transition: all 1s ease;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &.active {
        right: 0;
      }
      @include small {
        a {
          display: initial;
        }
      }
    }
  }
}
